<div class="container">
  <h1>Reactive bands</h1>
  <p class="lead">Demo app for reactive programming in Angular.</p>

  <ul>
    <li
      style="cursor: pointer"
      [routerLink]="['/bands']"
      [queryParams]="{ active: true }"
    >
      Active
    </li>
    <li
      style="cursor: pointer"
      [routerLink]="['/bands']"
      [queryParams]="{ active: false }"
    >
      Inactive
    </li>
    <li style="cursor: pointer" [routerLink]="['/bands']">All</li>
    <li style="cursor: pointer" [routerLink]="['/search-bands']">
      search your band
    </li>
    <li style="cursor: pointer" [routerLink]="['/add-bands']">Add band</li>
  </ul>
  <router-outlet></router-outlet>
</div>
