<h2>Bands</h2>
<div class="row" *ngIf="model$ | async as model">
  <button type="button" (click)="refreshDataClickSubject.next([])">
    Refresh Data
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Formation year</th>
        <th>Is active</th>
        <th>Is Favorit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="model.isLoading">
        <td colspan="3">Loading{{ loadingDots }}</td>
      </tr>
      <tr *ngFor="let band of model.bands">
        <td>{{ band.name }}</td>
        <td>{{ band.formationYear }}</td>
        <td>{{ band.isActive }}</td>
        <td>{{ band.favorite }}</td>
      </tr>
    </tbody>
  </table>
</div>
